.success {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px;
    border-radius: 5px; 
    margin: 10px auto; 
    width: 90%; 
    text-align: center; 
    display: none; 
}
.custom-welcome {
    background-color: #000000; 
    color: white; 
    margin-bottom: 20px;
    padding: 20px 0; 
    text-align: center; 
}
.custom-links p {
    text-align: center; 
    margin: 10px 0; 
}
.custom-links a {
    color: #4CAF50; 
    text-decoration: none; 
    font-weight: bold; 
}
.custom-links a:hover {
    text-decoration: underline; 
}
@media (max-width: 768px) {
    .custom-welcome {
        font-size: 1.5rem; 
    }
}
